@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    height: 100%;
  }
}

.nav {
  align-self: flex-end;
  margin: 20px 40px;

  .btn-logout {
    cursor: pointer;
  }
}

.bubbles-page {
  display: flex;
}

.spacer {
  height: 100%;
}

.bubble-wrap {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.colors-wrap {
  height: 100%;
  width: 300px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding-bottom: 20px;
  margin-right: 50px;

  ul {
    list-style: none;
    text-align: start;

    li {
      cursor: pointer;
      padding: 6px 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}

.delete {
  color: rgb(216, 87, 87);
}

.color-box {
  height: 16px;
  width: 16px;
  border: 1px lightgray solid;
  margin-right: 36px;
}

form {
  margin-top: 60px;
  display: flex;
  flex-direction: column;

  legend {
    padding-left: 40px;
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
    margin-bottom: 16px;
  }

  label {
    display: flex;
    justify-content: space-between;
    padding: 4px 36px 4px 40px;
  }

  input {
    width: 100px;
  }
}

button {
  border: none;
  background-color: black;
  color: white;
  padding: 3px 8px;
  margin-top: 16px;
  cursor: pointer;
}

.button-row {
  display: flex;
  justify-content: space-between;
  padding: 0 36px 0 41px;

  // button {
  //   border: none;
  //   background-color: black;
  //   color: white;
  //   padding: 3px 8px;
  //   margin-top: 16px;
  // }
}

.btn-add {
  width: 40px;
  text-align: center;
  margin: 16px auto 0;
}

.login-wrap {
  width: 300px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding-bottom: 20px;

  form {
    margin-top: 20px;
  }
}

.btn-login {
  width: 60px;
  margin: 16px auto 0;
}

.logout {
  background-color: white;
  color: black;
  font-family: inherit;
  font-size: 15px;
  align-self: flex-end;
  padding-right: 3%;
}
